@use '~@angular/material' as mat;
@import 'peeb.palette';

$peeb-primary: mat.define-palette($peeb-palette);
$peeb-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);
$peeb-warn: mat.define-palette(mat.$red-palette);

$peeb-theme: mat.define-light-theme((
    color: (
        primary: $peeb-primary,
        accent: $peeb-accent,
        warn: $peeb-warn,
    )
));
