$peeb-palette: (
    50 : #f5e7e6,
    100 : #e6c2bf,
    200 : #d69a95,
    300 : #c6716b,
    400 : #b9524b,
    500 : #ad342b,
    600 : #a62f26,
    700 : #9c2720,
    800 : #93211a,
    900 : #831510,
    A100 : #ffb8b6,
    A200 : #ff8683,
    A400 : #ff5550,
    A700 : #ff3c36,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
